<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okcodex.easyconverters">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.converters.activity.ClothesActivity"/>
        <activity android:name=".ui.converters.activity.RingSizeActivity"/>
        <activity android:name=".ui.converters.activity.ShoeSizeActivity" />
        <activity android:name=".ui.converters.activity.AllConvertersActivity" />
        <activity android:name=".ui.converters.activity.HatSizeActivity" />
        <activity android:name=".ui.calculators.activity.CaloricBurnActivity" />
        <activity android:name=".ui.calculators.activity.InterestActivity" />
        <activity android:name=".ui.calculators.activity.LoanActivity" />
        <activity android:name=".ui.tools.activity.numberToword.NumberToWordActivity" />
        <activity android:name=".ui.calculators.activity.DiscountsActivity" />
        <activity android:name=".ui.calculators.activity.TaxActivity" />
        <activity android:name=".ui.calculators.activity.UnitPriceActivity" />
        <activity android:name=".ui.calculators.activity.AgeCalculatorActivity" />
        <activity android:name=".ui.calculators.activity.BMIActivity" />
        <activity android:name=".ui.calculators.activity.TipActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>